<section class="todoapp">
  <header class="header">
    <h1>To-dos</h1>
  </header>
  <form id = 'new-form'>
    <input type ='text' class = "new-todo" placeholder = "What Needs To Be Done?" />
  </form>

  <section class="main">
    <ul class = "todo-list">

    </ul>

  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Zoheb Salam", "http://github.com/zoheb391" %>
</section>